@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px; }

body::-webkit-scrollbar {
  width: 5px; }

body::-webkit-scrollbar-thumb {
  background-color: #C7C7C6;
  width: 5px;
  border-radius: 2px; }

header {
  height: 8vh;
  background-color: #ffffff;
  position: fixed;
  padding-top: 0px;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: solid #C7C7C6 1px;
  display: flex;
  justify-content: flex-start;
  z-index: 10; }

h1 {
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  padding-top: 20px;
  padding-left: 30%;
  display: inline-block;
  object-position: center; }

nav {
  height: 20px;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 60px;
  padding-left: 30px;
  display: inline-block; }

/*.menu_item{
	padding-top: 10px;
	height: 5vh;
}*/
li {
  list-style: none; }

a.submenu_item:link {
  color: #000000;
  text-decoration: none; }

a.submenu_item:visited {
  color: #000000;
  text-decoration: none; }

a.submenu_item:focus {
  text-decoration: none; }

a.submenu_item:active {
  text-decoration: none; }

a.submenu_item:hover {
  text-decoration: line-through; }

a.menu_item:link {
  color: #000000;
  text-decoration: none; }

a.menu_item:visited {
  color: #000000;
  text-decoration: none; }

a.menu_item:focus {
  text-decoration: none; }

a.menu_item:active {
  text-decoration: none; }

a.menu_item:hover {
  text-decoration: line-through;
  transition-delay: 1s; }

footer {
  font-weight: 300;
  font-size: 11px;
  text-align: center;
  background-color: white;
  padding: 5px; }


.slider__portada {
  background-color: black;
  width: 100vw;
  height: 100vh;
  background-image: url(../imagenes/anomalia3.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.seccion_animacion {
  width: 50%;
  margin-top: 10%;
  float: right; }

h2 {
  color: #ffffff;
  font-weight: 500;
  font-size: 27px;
  text-align: center;
  padding-top: 55%;
  padding-left: 45%;
  display: flex;
  object-position: center; }

.animate__animated.animate__fadeInDown {
  --animate-duration: 5s; }

h3 {
  color: #ffffff;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  padding-left: 45.1%;
  display: flex;
  object-position: center; }

.animate__animated.animate__fadeIn {
  --animate-duration: 5s;
  animation-delay: 3s; }

.menu {
  height: 50px;
  position: relative;
  background-color: #ffffff;
  width: 150px;
  margin-left: -20px;
  padding-left: 10px; }

.submenu {
  position: absolute;
  display: none;
  background-color: #ffffff;
  width: 150px;
  height: 100vh;
  margin-left: -20px;
  padding-left: 10px; }

ul li:hover ul {
  display: block; }

/* PAGINA DE CONTACTO*/
.idioma {
  font-weight: 700; }

.titulo {
  font-weight: 700;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px; }

.subtitulo {
  font-weight: 300;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 5px; }

.fondo {
  height: 80vh;
  background-color: #0E0E16;
  /*#1f1f1e;*/
  /*#3b3a37;*/
  /*#6e6868;*/
  /*#ebe5e4;*/
  /*#ebe5e4 #cfc9c8*/
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center; }

.recuadro {
  background-color: white;
  margin-top: 4%;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 5%;
  /*margin: 30px,200px,30px,200px;*/
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  text-align: justify; }

/*--------FIN PAGINA DE CONTACTO*---------*/
/*--------TEATRO--------------------------*/
.obra {
  padding: 0px;
  margin: 0;
  overflow: hidden; }

.galeria {
  padding: 0px;
  margin: 0;
  overflow: hidden; }

.imagen {
  max-width: 33vw;
  padding: 0;
  margin: 0;
  overflow: hidden; }

.imagen:hover {
  transform: scale(1.1);
  /*transform: translateY(10px);*/
  transition: transform 2s;
  overflow: hidden; }

.galeriaImagenes {
  background-color: #0E0E16;
  display: grid;
  padding-top: 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: end;
  justify-items: center;
  overflow: hidden; }

/*------------FIN TEATRO---------------*/
/*------------BOCETOS------------------*/
/*------------FIN BOCETOS--------------*/
/* -----------PUBLICIDAD---------------*/
/*-----------FIN PUBLICIDAD-------------*/
/* PÁGINAS DE CADA OBRA*/
.detail {
  width: 100vw;
  display: flex;
  padding-top: 50px;
  margin: 0; }

.grafica {
  height: 70%;
  overflow: scroll; }

.contenedor {
  padding: 0;
  margin: 0; }

.grafica::-webkit-scrollbar {
  width: 5px; }

.grafica::-webkit-scrollbar-thumb {
  background-color: #C7C7C6;
  width: 5px;
  border-radius: 2px; }

.picture {
  width: 68vw;
  padding: 0;
  margin: 0; }

.descripcion {
  width: 27vw;
  padding: 10px 20px;
  text-align: justify;
  height: 700px;
  overflow: scroll; }

.titulo {
  font-weight: 700;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px; }

.subtitulo {
  font-weight: 300;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 5px; }

p {
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 2px;
  line-height: 20px; }

.descripcion::-webkit-scrollbar {
  width: 5px; }

.descripcion::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 2px; }

/*PARA HACERLO RESPONSIVE EN PANTALLAS MAS PEQUEÑAS*/
@media only screen and (max-width: 1150px) {
  h2 {
    padding-left: 40%; }
  h3 {
    padding-left: 40.1%; } 
  .detail {
  width: 100vw;
  display: flex;
  padding-top: 10px;
  margin: 10px; 
  flex-direction: column-reverse;}
  .grafica {
  width: 100%;
  overflow: scroll; }
  .descripcion {
  width: 95vw;
  height: 40vh;
  margin-right: 10px;
  padding right: 5%;
  padding-top: 10%;
  text-align: justify;
  overflow: scroll; }
  .picture {
  width: 95vw;
  padding: 0;
  margin: 0; }
}
@media only screen and (max-width: 1000px) {
  .portada {
    background-color: black;
    width: 100%;
    /*height: 100vh;*/
    background-image: url(imagenes/anomalia1.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
  .seccion_animacion {
    width: 50%;
    margin-top: 10%;
    float: right; }
  h2 {
    color: #ffffff;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    padding-top: 55%;
    padding-left: 30%;
    display: flex;
    object-position: center; }
  h3 {
    color: #ffffff;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    padding-left: 30.1%;
    display: flex;
    object-position: center; }
  .galeriaImagenes {
    display: grid;
    padding-top: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: end;
    justify-items: center; }
  .imagen {
    max-width: 49vw;
    padding: 0;
    margin: 0; }
  .fondo {
    padding-top: 15%; } }
  .detail {
  width: 100vw;
  display: flex;
  padding-top: 10px;
  margin: 10px; 
  flex-direction: column-reverse;}
  .grafica {
  width: 100%;
  overflow: scroll; }
  .descripcion {
  width: 95vw;
  height: 40vh;
  margin-right: 10px;
  padding right: 5%;
  padding-top: 10%;
  text-align: justify;
  overflow: scroll; }
  .picture {
  width: 95vw;
  padding: 0;
  margin: 0; }
@media only screen and (max-width: 768px) {
  h1 {
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    padding-top: 15px;
    padding-left: 15%;
    display: inline-block;
    object-position: center; }
  .portada {
    background-color: black;
    width: 100%;
    /*height: 100%;*/
    background-image: url(imagenes/anomaliam.jpg);
    background-size: contain;
    background-repeat: no-repeat; }
  .seccion_animacion {
    width: 70%;
    margin-top: 10%;
    margin-bottom: 10%;
    float: right; }
  h2 {
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    padding-top: 150%;
    padding-left: 10%;
    display: flex;
    object-position: center; }
  h3 {
    color: #ffffff;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    padding-left: 10.1%;
    display: flex;
    object-position: center; }
  .galeriaImagenes {
    display: grid;
    padding-top: 50px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    align-items: end;
    justify-items: center; }
  .imagen {
    max-width: 98vw;
    padding: 0;
    margin: 0; }
  #carouselExampleInterval {
    height: 500%; } 
  
  .detail {
    width: 100vw;
    display: flex;
    padding-top: 10px;
    margin: 5px; 
    flex-direction: column-reverse;}
  .grafica {
    width: 100%;
    overflow: scroll; }
  .descripcion {
    width: 90vw;
    height: 40vh;
    margin-right: 5px;
    padding right: 5%;
    padding-top: 10%;
    text-align: justify;
    overflow: scroll; }
  .picture {
    width: 95vw;
    padding: 0;
    margin: 0; }
  .contenedor {
    padding padding-left: 5px;
    margin-left: 10px; }
}
/* PAGINA DE CONTACTO*/
.idioma {
  font-weight: 700; }

.titulo {
  font-weight: 700;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px; }

.subtitulo {
  font-weight: 300;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 5px; }

.fondo {
  background-color: #0E0E16;
  /*#1f1f1e;*/
  /*#3b3a37;*/
  /*#6e6868;*/
  /*#ebe5e4;*/
  /*#ebe5e4 #cfc9c8*/
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center; }

.recuadro {
  background-color: white;
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 15%;
  /*margin: 30px,200px,30px,200px;*/
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  text-align: justify; }

@media only screen and (max-width: 576px) {
  h1 {
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
    padding-left: 0%;
    display: inline-block;
    object-position: center; }
  .portada {
    background-color: black;
    width: 100%;
    /*height: 100%;*/
    background-image: url(imagenes/anomaliam.jpg);
    background-size: contain;
    background-repeat: no-repeat; }
  .seccion_animacion {
    width: 90%;
    margin-top: 10%;
    margin-bottom: 10%;
    float: right; }
  h2 {
    color: #ffffff;
    font-weight: 500;
    font-size: 23px;
    text-align: center;
    padding-top: 150%;
    padding-right: 10%;
    display: flex;
    object-position: center; }
  h3 {
    color: #ffffff;
    font-weight: 300;
    font-size: 10px;
    text-align: center;
    padding-right: 30.1%;
    display: flex;
    object-position: center; }
  .fondo {
    padding-top: 20%; }
  .recuadro {
    text-align: left; } }

/*ESPECIFICO DE LA PÁGINA DE PUBLI*/
.publi {
  padding-top: 50px;
  width: 100vw;
  display: flex;
  /*padding-top: 50px;
	margin: 0;*/ }

.videos {
  height: 65vh; }

.detalle {
  width: 27vw;
  padding: 10px 20px;
  text-align: justify;
  height: 65vh; }
